@import url('https://fonts.googleapis.com/css?family=Domine:400,700|Montserrat&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

$primaryColor: #924400;
$darkColor: black;
$backgroundColor: white;

$darkerText: #3d3d3d;
$textColor: black;

/****************************** Fonts ******************************/

.title-font {
  font-family: Domine, serif;
  font-weight: 700;
}

.heading-font {
  font-family: Domine, serif;
  font-weight: 400;
}

.body-font {
  font-family: Montserrat, sans-serif;
}

* {
  @extend .body-font;
}

h1, h2, h3, h4, h5, h6 {
  @extend .heading-font;
}

/****************************** Positioning ******************************/

.fix-to-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

.fix-to-top {
  position: absolute;
  top: 0;
  margin-top: 0;
}

.fix-to-left {
  position: absolute;
  left: 0;
  margin-left: 0;
}

.fix-to-right {
  position: absolute;
  right: 0;
  margin-right: 0;
}

.jcj-full-height {
  @extend .fix-to-top;
  @extend .fix-to-bottom;
}

.jcj-full-page {
  @extend .jcj-full-height;
  position: fixed;
}

